@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0E1525;
  --secondary-color: #FF9D01;
  --white-color: #ffffff;
}

body {
  background-color: #0E1525;
}

.control-dots {
  /* background-color: yellow !important; */
  transform: translateY(14px);
  opacity: 1;
  z-index: 100;
}

.dot {
  background-color: #858585 !important;
}

.dot:hover {
  background-color: #B7E6F6 !important;
  opacity: 1 !important;
}

.dot.selected {
  background-color: #B7E6F6 !important;
  opacity: 1;
}